DIFY/level 2.yml
app:
  description: Demo app
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: level 2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1762927283530-1-1762927316328-target
      source: '1762927283530'
      sourceHandle: '1'
      target: '1762927316328'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1762927316328-source-1762927326576-target
      source: '1762927316328'
      sourceHandle: source
      target: '1762927326576'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: parameter-extractor
      id: 1762761464434-source-1762929139389-target
      source: '1762761464434'
      sourceHandle: source
      target: '1762929139389'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: parameter-extractor
        targetType: question-classifier
      id: 1762929139389-source-1762927283530-target
      source: '1762929139389'
      sourceHandle: source
      target: '1762927283530'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1762927283530-2-1762929219969-target
      source: '1762927283530'
      sourceHandle: '2'
      target: '1762929219969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1762927283530-1762929182536-1762929223164-target
      source: '1762927283530'
      sourceHandle: '1762929182536'
      target: '1762929223164'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1762927283530-1762929186173-1762929225602-target
      source: '1762927283530'
      sourceHandle: '1762929186173'
      target: '1762929225602'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1762929223164-source-1762929281539-target
      source: '1762929223164'
      sourceHandle: source
      target: '1762929281539'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1762929225602-source-1762929284151-target
      source: '1762929225602'
      sourceHandle: source
      target: '1762929284151'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1762929219969-source-17629292747810-target
      source: '1762929219969'
      sourceHandle: source
      target: '17629292747810'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1762761464434'
      position:
        x: 30
        y: 631
      positionAbsolute:
        x: 30
        y: 631
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        author: JerahmeelT
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Trigger","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1762840596045'
      position:
        x: 24.495594718426617
        y: 112.26839694121853
      positionAbsolute:
        x: 24.495594718426617
        y: 112.26839694121853
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: JerahmeelT
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"processing
          node","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: yellow
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1762840625405'
      position:
        x: 337.67684758464674
        y: 108.71524330800955
      positionAbsolute:
        x: 337.67684758464674
        y: 108.71524330800955
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: JerahmeelT
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"an
          end/answer node","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1762840637625'
      position:
        x: 650.3543673070368
        y: 112.26839694121853
      positionAbsolute:
        x: 650.3543673070368
        y: 112.26839694121853
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        classes:
        - id: '1'
          name: happy
        - id: '2'
          name: sad
        - id: '1762929182536'
          name: doubtful
        - id: '1762929186173'
          name: hurt
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1762929139389'
        - intent
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 247
      id: '1762927283530'
      position:
        x: 696
        y: 516
      positionAbsolute:
        x: 696
        y: 516
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1762927283530'
          - class_name
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: c186be7b-0cd4-417b-8e17-d62eaf0745e1
          role: system
          text: "give a short quote . \nuse these as context \n{{#context#}}{{#sys.query#}}"
        selected: false
        title: 'HAPPY '
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1762927316328'
      position:
        x: 1029
        y: 602
      positionAbsolute:
        x: 1029
        y: 602
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1762927316328.text#}}

          '
        desc: ''
        selected: false
        title: HAPPY ANSWER
        type: answer
        variables: []
      height: 103
      id: '1762927326576'
      position:
        x: 1362
        y: 595
      positionAbsolute:
        x: 1362
        y: 595
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        instruction: 'extract the intent and classify it as one of the following:

          -happy

          -sad

          -doubtful

          -hurt'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        parameters:
        - description: intent of the query
          name: intent
          required: false
          type: string
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: Parameter Extractor
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1762929139389'
      position:
        x: 363
        y: 595
      positionAbsolute:
        x: 363
        y: 595
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1762927283530'
          - class_name
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: dfcb47b6-3036-4376-a237-d2d70f5deef9
          role: system
          text: "give a short quote . \nuse these as context \n{{#context#}}{{#sys.query#}}"
        selected: false
        title: SAD
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1762929219969'
      position:
        x: 1029
        y: 745
      positionAbsolute:
        x: 1029
        y: 745
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1762927283530'
          - class_name
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 5a4e6666-c945-4e48-a79e-960ee51dbcee
          role: system
          text: "give a short quote . \nuse these as context \n{{#context#}}{{#sys.query#}}"
        selected: false
        title: DOUBTFUL
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1762929223164'
      position:
        x: 1029
        y: 888
      positionAbsolute:
        x: 1029
        y: 888
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1762927283530'
          - class_name
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 64e1d110-f78a-4565-8789-bb5b3a539210
          role: system
          text: "give a short quote . \nuse these as context \n{{#context#}}{{#sys.query#}}"
        selected: false
        title: HURT
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1762929225602'
      position:
        x: 1029
        y: 1031
      positionAbsolute:
        x: 1029
        y: 1031
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1762929219969.text#}}'
        desc: ''
        selected: false
        title: SAD ANSWER
        type: answer
        variables: []
      height: 103
      id: '17629292747810'
      position:
        x: 1362
        y: 738
      positionAbsolute:
        x: 1362
        y: 738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1762929223164.text#}}'
        desc: ''
        selected: false
        title: DOUBTFUL ANSWER
        type: answer
        variables: []
      height: 103
      id: '1762929281539'
      position:
        x: 1362
        y: 881
      positionAbsolute:
        x: 1362
        y: 881
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1762929225602.text#}}'
        desc: ''
        selected: false
        title: HURT ANSWER
        type: answer
        variables: []
      height: 103
      id: '1762929284151'
      position:
        x: 1362
        y: 1024
      positionAbsolute:
        x: 1362
        y: 1024
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        author: JerahmeelT
        desc: ''
        height: 166
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Trigger","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 166
      id: '1762931924248'
      position:
        x: 30
        y: 428.94345419747475
      positionAbsolute:
        x: 30
        y: 428.94345419747475
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: JerahmeelT
        desc: ''
        height: 166
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"extracts
          emotion from the query","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ' (1)'
        type: ''
        width: 240
      height: 166
      id: '17629319460340'
      position:
        x: 363
        y: 411.8005970546176
      positionAbsolute:
        x: 363
        y: 411.8005970546176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: JerahmeelT
        desc: ''
        height: 166
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"classifies
          the emotion:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"I","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ' (1)'
        type: ''
        width: 240
      height: 166
      id: '17629319584170'
      position:
        x: 696
        y: 314.6577399117605
      positionAbsolute:
        x: 696
        y: 314.6577399117605
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: JerahmeelT
        desc: ''
        height: 166
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"processes
          the query and give the corresponding answer","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ' (1)'
        type: ''
        width: 240
      height: 166
      id: '17629319989660'
      position:
        x: 1049.2291739327563
        y: 314.6577399117605
      positionAbsolute:
        x: 1049.2291739327563
        y: 314.6577399117605
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: JerahmeelT
        desc: ''
        height: 166
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"outputs
          the answer","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ' (1)'
        type: ''
        width: 240
      height: 166
      id: '17629320097970'
      position:
        x: 1369.2291739327566
        y: 314.6577399117605
      positionAbsolute:
        x: 1369.2291739327566
        y: 314.6577399117605
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: 148.55000000000018
      y: -147.2499999999999
      zoom: 0.7
